.row.justify-content-center
  .card-body.py-5.text-center
    = form_for [@feed], layout: :horizontal do |f|
      - if @baby.errors.any?
        #error_explanation
          %h2= "#{pluralize(@baby.errors.count, "error")} prohibited this baby from being saved:"
          %ul
            - @baby.errors.full_messages.each do |message|
              %li= message
      .field
        = f.date_select :date, layout: :default
      .field
        = f.time_select :hour, layout: :default, default: Time.now.localtime
      .field{:style=>'color:blue'}
        = f.text_field :mililitres, value: 20, min: 20, max: 500, :style=>'width:30px; color:blue'
        mililitres
      .btn-group
        %button.btn.btn-primary{:type => "button"} 50ml
        %button.btn.btn-primary{:type => "button"} 100ml
        %button.btn.btn-primary{:type => "button"} 150ml
      %br
      .btn-group{:style=>'margin-top:10px; margin-bottom:10px'}
        %button.btn.btn-primary{:type => "button"} 200ml
        %button.btn.btn-primary{:type => "button"} 250ml
        %button.btn.btn-primary{:type => "button"} 300ml
      %br
      .actions
        = f.submit 'Guardar'
