.row.justify-content-center
  .card-body.py-5.text-center
    = form_for [@feed], layout: :horizontal do |f|
      - if @baby.errors.any?
        #error_explanation
          %h2= "#{pluralize(@baby.errors.count, "error")} prohibited this baby from being saved:"
          %ul
            - @baby.errors.full_messages.each do |message|
              %li= message
      .field
        = f.date_select :date, layout: :default
      .field
        = f.time_select :hour, layout: :default, default: Time.now.localtime
      .field{ id: '#mililitres-range', style: "size: 600px, width: 100% !important;" }
        #mililitres-range
          = f.number_field :mililitres, type: :range, min: 20, max: 500
        = :value
      .actions
        = f.submit 'Guardar'

