.row
  %button.btn-sm.btn-success{"data-target" => "#FeedModal", "data-toggle" => "modal", :type => "button"}
  = link_to 'Nueva toma', new_feed_path, class: 'btn.btn-success.btn-sm'
%p
.container
  .row
    .col-sm
      = render 'table'
    .col-sm
      = render 'table_week'
%p
  = "El total de tomas en el dia:  #{@total_feeds} ml - La media diaria de la semana es:  #{@week_average} ml "
%p
  = "Toma media a la edad de #{@baby.name} es de #{@baby.min_feed}"
.container
  .row
    .col-sm
      = form_with(url:feeds_path, method: :get, local: true) do |f|
        .field{:style => "color: green" }
          = f.label :date, 'Seleccionar otra fecha:'
          %br
          = f.text_field :date, id: :datepicker, value: @day.strftime("%d/%m/%Y")
        .actions
          %br
          = f.submit 'Buscar'
    .col-sm
      = line_chart @data.group_by_day(:date).sum(:mililitres), width: "400px", height: "200"

#FeedModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = render 'form'

:javascript
  $('#datepicker').datepicker({format: 'dd/mm/yyyy'})
