.row.justify-content-center
  .col-md-5
    .card.p-4
      .card-header.text-center.text-uppercase.h4.font-weight-light
        Nuevo biberón
      .card-body.py-5
        = form_for [@feed], layout: :horizontal do |f|
          - if @baby.errors.any?
            #error_explanation
              %h2= "#{pluralize(@baby.errors.count, "error")} prohibited this baby from being saved:"
              %ul
                - @baby.errors.full_messages.each do |message|
                  %li= message
          .field
            = f.date_select :date, layout: :default
          .field
            = f.time_select :hour, layout: :default, default: Time.now.localtime
          .field
            = f.number_field :mililitres, layout: :default, step: 10
          .actions
            = f.submit 'Guardar'
