.row.justify-content-center
  .col-md-5
    .card.p-4
      .card-header.text-center.text-uppercase.h4.font-weight-light
        Modificar usuario
      .card-body.py-5
        = bootstrap_form_for(@user, layout: :horizontal, url: user_path(@user), method: :put) do |f|
          = f.text_field :name, label: 'Nombre', layout: :default
          = f.text_field :last_name, label: 'Apellido', layout: :default
          = f.email_field :email, label: 'Email', layout: :default
          - if current_user.is_admin?
            = f.number_field :level, label: 'Nivel', layout: :default
          - if !current_user.is_admin? || @user.id == session[:user_id]
            = f.password_field :password, label: 'Contraseña', layout: :default
            = f.password_field :password_confirmation, label: 'Confirma contraseña', layout: :default
          %button.btn.btn-primary{:type => "submit"} Guardar