%p
  %b Nombre:
  = @user.name
%p
  %b Apellidos:
  = @user.last_name
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password_digest
%p
  %b Nivel:
  = @user.level
%p
  %b Babies:
  %b
  - @user.babies.each do |baby|
    %br
    =  "#{baby.name} #{baby.last_name}"
%br
%p
  = button_to 'Añadir bebé', new_baby_path(@user), method: :get

= link_to 'Editar Usuario', edit_user_path(@user)
\|
= link_to 'Inicio', babies_path
