- territories_hash = Territory.pluck(:territory_name, :id).to_h
%h1 Datos del Bebé
= form_for [@baby] do |f|
  - if @baby.errors.any?
    #error_explanation
      %h2= "#{pluralize(@baby.errors.count, "error")} prohibited this baby from being saved:"
      %ul
        - @baby.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name, 'Nombre'
    %br
    = f.text_field :name
  .field
    = f.label :last_name, 'Apellidos'
    %br
    = f.text_field :last_name
  .field
    = f.label :dob, 'Fecha Nacimiento'
    %br
    = f.date_select :dob
  .field
    = f.label :gender, 'Sexo'
    %br
    = f.select :gender, ['niño', 'niña']
  .field
    = f.label :blood_type, 'Grupo Sanguíneo'
    %br
    = f.select :blood_type, Baby.blood_types.keys
  .field
    = f.label :territory, 'Comunidad Autónoma'
    %br
    = f.select :territory, territories_hash
  .actions
    %br
    = f.submit 'Guardar'
