%h2.table-title Mis bebés
%table.table-responsive
  %thead
    %tr
      %th Nombre
      %th F. Nac.
      %th Sexo
      %th
  %tbody
    - @babies.each do |baby|
      %tr
        %td= link_to "#{baby.name} #{baby.last_name}", select_baby_path(baby.id)
        %td= baby.dob
        %td= baby.gender
        %td= link_to 'Consultar', edit_baby_path(baby.id)
%br
= link_to 'Registrar bebé', new_baby_path
