%h2.table-title Mis bebés
%table.table.table-responsive-xl
  %thead
    %tr
      %th Nombre
      %th Apellido
      %th Dob
      %th Sexo
      %th Grupo Sanguineo
      %th
  %tbody
    - @babies.each do |baby|
      %tr
        %td= baby.name
        %td= baby.last_name
        %td= baby.dob
        %td= baby.gender
        %td= baby.blood_type
        - if baby.id != session[:baby_id].to_i
          %td= link_to 'Seleccionar', select_baby_path(baby.id)
        - else
          %td= link_to 'Editar', edit_baby_path(baby.id)
%br

= link_to 'New Baby', new_baby_path
