%p#notice= notice

%p
  %b Nombre:
  = @baby.name
%p
  %b Apellidos:
  = @baby.last_name
%p
  %b Fecha Nacimiento:
  = @baby.dob
%p
  %b Sexo:
  = @baby.gender
%p
  %b Grupo Sang.:
  = @baby.blood_type

= link_to 'Edit', edit_user_baby_path(user: current_user, baby: @baby)
\|
= link_to 'Back', user_babies_path(params[:user_id])
