%p
  %b Nombre:
  = @baby.name
%p
  %b Apellidos:
  = @baby.last_name
%p
  %b Fecha Nacimiento:
  = @baby.dob
%p
  %b Sexo:
  = @baby.gender
%p
  %b Grupo Sang.:
  = @baby.blood_type
%p
  %b Usuarios:
  = @baby.user.name

= link_to 'Editar', edit_baby_path(@baby.id)
\|
= link_to 'Atras', babies_path
