%p
  %b Nombre:
  = @baby.name
%p
  %b Apellidos:
  = @baby.last_name
%p
  %b Fecha Nacimiento:
  = @baby.dob
%p
  %b Sexo:
  = @baby.gender
%p
  %b Grupo Sang.:
  = @baby.blood_type
%p
  %b Usuarios:
  = @baby.user.name

= link_to 'Edit', edit_user_baby_path(session[:user_id], @baby.id)
\|
= link_to 'Back', user_babies_path(session[:user_id])
