= form_for [@height] do |f|
  .modal-body
    - if @height.errors.any?
      #error_explanation
        %h2= "#{pluralize(@height.errors.count, "error")} prohibited this baby from being saved:"
        %ul
          - @height.errors.full_messages.each do |message|
            %li= message
    .field
      = f.label :height, 'Altura (cm)'
      %br
      = f.number_field :height, layout: :default, step: 1
    .field
      = f.label :date, 'Fecha'
      %br
      = f.text_field :date, id: :datepicker, value: Date.today.strftime("%d/%m/%Y")
  .modal-footer
    .actions
      %br
      = f.submit 'Guardar', class: 'button btn btn-primary'
:javascript
  $('#datepicker').datepicker({format: 'dd/mm/yyyy'})
