!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    %meta{:content => "ie=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Bemybaby
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.sidebar-fixed.header-fixed
    .page-wrapper
      = render 'layouts/shared/header'
      .main-container
        .sidebar
          = render 'layouts/shared/menu', user_id: session[:user_id]
        .content
          = yield
    .alert-message
      -if notice || @message
        %p#notice= notice || @message
